/* .realcontainer {
  background-color: #d5fafc;
  display: grid;
  grid-template-columns:repeat(2, 1fr );
  padding: 50px 100px 50px 100px;
  
  grid-column-gap: 10px;
  grid-row-gap: 2rem;
  
  
}
.boxes .hubspot{
  text-align: end;
}

.sixsix > img{
    margin-top: 30px;
    position: absolute;
}
.content {
  color: #18191f;
  font-weight: 700;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
 
  
}
.content > h6{
  margin-top: -5px;
  color: #18191F;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

}
.hubspot {
  align-items: end;
  
  height: 350px;
  width: 350px;
  
  border-radius: 8px;
  padding: 32px;

  background: #ffffff;

  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
}
.airbnb {
  height: 250px;
  width: 300px;
  
  border-radius: 8px;
  padding: 32px;

  background: #ffffff;

  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
}
.hubspot .set {
  height: 14px;
  width: 15px;
  font-family: 'Open Sans', sans-serif;
}

.airbnb .set {
  height: 14px;
  width: 15px;
  font-family: 'Open Sans', sans-serif;
}
.book .set {
  height: 14px;
  width: 15px;
  font-family: 'Open Sans', sans-serif;
}
.book {
  height: 276px;
  width: 350px;
 
  border-radius: 8px;
  padding: 32px;

  background: #ffffff;

  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
}

.hubspot p{
  margin: 10px;
}

.sef{
  display: flex;
}

.par{
  margin-top: 4px;
  margin-left: 10px;
  font-family: 'Open Sans', sans-serif;
} */
/* .overall {
  background: #D5FAFC;
  width: 100%;
  
  padding: 50px 100px 50px 100px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, max-content));
  grid-template-rows: 168px max-content max-content max-content;
  justify-content: center;
  width: 80%;
  margin: auto;
  grid-gap: 30px
}

.item {
  background: #FFFFFF;
  width: 500px;
  padding: 32px;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
}

.real {
  z-index: 100000;
  
  font-style: normal;
  font-weight: 800;
  

  font-feature-settings: 'salt'on, 'liga'off;

  

  color: #18191F;
 
}

.item_1 {
  width:445px; 
  grid-row: 1/3;
  grid-column: 2/-1;
  align-self: center;
  text-align: justify;
  
  

}

.item_2 {
  grid-row: 2/4;
  margin-top: 50px;
  text-align: justify;
  
}

.item_3 {
  
  align-self: end;
  grid-row: 3/-1;
  text-align: justify;
}

.sixsix > img{
  margin-top: 30px;
  position: absolute;
}

.content {
  color: #18191f;
  font-weight: 700;
  font-size: 40px;
  
  position: relative;
  top: 93px;
  left: 91px;
 
  
}

.content > h6{
  margin-top: -5px;
  color: #18191F;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

}

.par{
  margin-top: 4px;
  margin-left: 10px;
  font-family: 'Open Sans', sans-serif;
}  */
.overall{
  display: flex;
  gap: 25px;
  background-color: #d5fafc;
  padding: 50px 100px 50px 100px;
  
}

.sixsix > img{
  margin-top: 30px;
  position: absolute;
}

.realtext {
  color: #18191f;
  font-weight: 700;
  font-size: 40px;
    position: relative;
  top: 93px;
  left: 91px;
 
  
}
.realtext > h6{
  margin-top: -5px;
  color: #18191F;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

}
.hub{
  background-color: white;
  width: 300px;
  height: 260px;
  padding: 12px;
  margin-top: 120px;
  margin-left: 130px;
  text-align: justify;
}
.airbnbtext{
  background-color: white;
  margin-bottom: 30px;
  width: 350px;
    height: 186px;
    padding: 12px;
    text-align: justify;
}
.left{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 125px;
  margin-left: 90px;
}
.bookcontent{
  background-color: white;
  width: 250px;
    height: 180px;
    padding: 16px;
  /* margin-top: 30px; */
}
.realcontainer{
  gap: 10px;
}
.set > img{
  width: 2%;
}








@media screen and (max-width: 987px) {
  .overall{
    
    padding: 50px 80px 50px 80px;
    
  }
  .left{
    margin-left: 40px;
  }
  
  

}
@media screen and (max-width: 839px){
  .overall{
    display: flex;
  flex-direction: column;
  }
  .left{
    margin-top: -5px;
  }
}

@media screen and (max-width: 480px){
  .overall{
    padding: 9px 23px 26px 18px;
  }
  .sixsix > img{
    width: 20%;
  }
  .item_1{
    width: 250px;
    text-align: justify;
    
  }
  .item_2{
    width:270px;
    text-align: justify;
    margin-top: 15px;
  }
  .item_3{
    width: 230px;
    text-align: justify;
    margin-left: 35px;

  }
  .par p{
    font-size: 13px;
  }
  .content {
    
    font-weight: 400;
    font-size: 20px;
    
    position: relative;
    top: 70px;
    left: 60px;
   
    
  }
  .content{
    padding-bottom:30px;
  }

}