.header {
  width: 100%;
 
  
}

.header_container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 30px;
}
.icons{
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 987px){
  .header_container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 30px;
  }
}

@media screen and (max-width: 480px){
  .logoicon>img{
    width: 50%;
    gap: 5px;
    
  }
  .icons{
    display: none;
  }
}
