.container {
  background-color: white;
  justify-content: center;
  padding: 10px 100px 30px 100px;
}

.enter{
    display: flex;
    /* margin: 100px; */
    gap: 50px;
    flex-basis: 50%;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 50px;
    
}

.ent{
    width: 500px;
    height: 100px;
    font-size:30px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}
.allow{
    width: 500px;
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
line-height: 32px;
}

.bub > img{
    width: 98%;
}

/* .enter {
  display: flex;
  margin: 100px;
  
}
.ent{
    width: 45%;
    font-weight: 500;
font-size: 30px;
}
.low{
    width:30%;
    font-size: 14px;
}
.bub > img {
  width: 50%;
  height: 50%;

  margin: 100px;
  justify-content: center;
}

.bub{
    margin-top: 20px;
}

.bub{
    align-items: center;
} */


@media screen and (max-width:1100px){
    .enter{
        display: flex;
        flex-direction: column;
    }
    
    .bub > img{
        width: 50%
    }
}

@media screen and (max-width:480px){
.container {
    background-color: white;
    justify-content: center;
    padding: 8px 30px 35px 27px;
  }
  .ent{
    width: 300px;
    height: 100px;
    font-size:16px;
    font-weight: 300;
    margin-bottom: 10px;
}
.ent h3{
    font-size: 20px;
}
.allow{
    text-align:justify;
    width: 300px;
    margin-top: -110px;
    
}
.allow p{
    font-size: 15px;
}
.bub > img{
    width: 100%;
    margin-top: 20px;
}
} 