.word{
    display:flex;
    gap: 50px;
    padding: 80px 165px 80px 165px;
    /* flex-basis: 50%; */
    
}
.our{
    flex-basis: 50%;
    
}

.our h3{
    color: #18191F;
    font-size: 40px;
font-weight: 650;


}
.our h6{
    color: #18191F;
    font-size: 14px;
    margin-top: 10px;
    
}



.icon{
    display: flex;
}

.subnum > h4{
    /* margin: 10px; */
    margin-top: -10px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}
.subnum{
    line-height: 10px;
}

.subnum > p{
padding: 10px;
font-family: 'Open Sans', sans-serif;
font-size: 12px;
text-align: stretch;

}
.iconrow{
    display: grid;
    grid-template-columns: 50% 50%;
}

@media screen and (max-width: 839px){
    .word{
        padding: 40px 57px 51px 63px;
    }

}
@media  screen and (max-width: 700px){
    .word{
        /* padding: 10 0px 0 30px; */

        
    }
    .our> h3{
        font-size: 20px;
font-weight: 350;

    }

}
@media screen and (max-width: 480px){
    .word{
        display:flex;
        flex-direction: column;
    gap: 50px;
    padding: 30px 15px 30px 34px;
    
    }
    .our h3{
        font-weight: 400;
        font-size: 20px;
    }
}
