.nav {
    margin-right: auto;
    
}


.nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    
}
.nav ul a{
    text-decoration: none;
    color: #18191F;
    font-family: 'Open Sans', sans-serif;
}
/* .fab{
    display: none;
   
} */

.togglebutton{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.togglebutton .bar{
    height: 3px;
    width: 100px;
    background-color: red;
    border-radius: 10px;
}
@media screen and (max-width: 970px){
    .hidden{
        display: none;
    }
    /* .nav ul{
        display: inline-block;
    } */
    .togglebutton{
        display: flex;
    }
}
@media screen and (max-width: 480px){
    .hidden{
        display: none;
    }
    .nav ul{
        display: inline-block;
    }
    .fab{
        
        display: block;
        float: right;

    }
    
}


