.complogo{
    /* display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 50px; */
}

.complog{
    
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
 
  margin-top: 50px;
}
@media screen and (max-width: 735px){
    .complog{
        width: 50%;
        /* width: 90%; */
        /* grid-template-columns: repeat(3, 1fr); */
        /* display: flex; */
        /* flex-wrap: wrap; */
    }
}
@media screen and (max-width: 480px){
    .complog{
        width: 70%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        gap: 5px;
       
    }

}
@media screen and (max-width: 1000px){

}